<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
            {{ message }}
        <div v-if="show">
            <div v-for="item in car">
                {{ item.name }} - {{ item.model }}
            </div>
        </div>
        <div v-else>
            Não mostrar nada
        </div>
        <button @click="show = !show">Toggle</button>
        <button @click="load">Load</button>
        <p v-if="response != null">{{ response.data.description }}</p>
        <p>{{ error }}</p>
    </div>
    <script>
        var app = Vue.createApp({
            data(){
                return {
                    show: true,
                    message: 'Hello Vue!',
                    car: [
                        {name: 'Toyota', model: "Yaris"},
                        {name: 'Honda', model: "City"},
                    ],
                    response: null,
                    error: null
                }
            },
            methods:{
                main(){
                    alert(this.message)
                },
                async load(){
                    try{
                        let url = "https://api.github.com/repos/rodrigoprestesmachado/cpw2"
                        this.response = await axios.get(url)
                    } 
                    catch (error) {
                        this.error = error
                    }
                }
            }
        })
        app.mount('#app')
    </script>    
</body>
</html>